﻿@model ExamenParcial.Modelo.Bill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecEmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecEmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecVen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecVen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecCob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecCob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalImp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalImp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
