﻿@model IEnumerable<ExamenParcial.Modelo.Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecEmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecVen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FecCob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalImp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecEmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecVen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FecCob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalImp)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
